data_matrix_1/
data_matrix_2/
x64/
.vs/
lab_1/MVS/lab_1.sln
lab_1/MVS/lab_1.vcxproj
lab_1/MVS/lab_1.vcxproj.filters
lab_1/MVS/lab_1.vcxproj.user
lab_1/result_matrix

*.vcxproj
*.filters
*.user
.txt
*.sln
/lab_2/result_matrix
